@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400;500;600;700&family=Lexend+Deca:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800;1,900&family=Poppins:ital,wght@1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0px;
    padding: 0px;
    font-family: "Gothic A1", sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}
body {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
}
.container {
    background: #565656;
    display: flex;
    height: 410px;
    width: 390px;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    box-shadow: 8px 8px 20px 0px rgb(171, 171, 171);
}
.temp-calculator {
    width: 100%;
    padding: 0 20px;
    margin: 25px 0;
}
.title {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 0.9px;
}
.temp-value {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}
.temp-value p {
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    text-align: left;
    padding: 10px 0;
    flex-basis: 42%;
}
.temp-value input {
    width: 100%;
    border: 0;
    outline: none;
    font-size: 14px;
    border-radius: 6px;
    background: #f2f4f7c7;
    padding: 10px;
    flex-basis: 100%;
}
#degree {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#degree span {
    flex-basis: 48%;
}
#degree span p {
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    text-align: left;
    padding: 5px 10px;
}
#degree span select {
    width: 100%;
    border: 0;
    outline: none;
    font-size: 14px;
    border-radius: 6px;
    background: #f2f4f7c7;
    padding: 10px;
    cursor: pointer;
}
.btn {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.btn input {
    font-size: 16px;
    background-color: unset;
    padding: 10px;
    flex-basis: 48%;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #f2f4f7c7;
    transition: background 0.5s;
}
.btn1:hover {
    background: #f2f4f7c7;
    color: #363636;
}
.temp-value #ans {
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    text-align: left;
    padding: 10px 0;
    flex-basis: 25%;
}
.temp-value #result {
    width: 100%;
    border: 0;
    outline: none;
    font-size: 14px;
    border-radius: 6px;
    background: #f2f4f7c7;
    padding: 10px;
    flex-basis: 100%;
    cursor: default;
}